@font-face {
  font-family: "PoppinsRegular";
  font-weight: 500;
  src: local("PoppinsRegular"), url("fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: "OpenSansBold";
  font-weight: 600;
  src: url("fonts/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: "OpenSans";
  font-weight: 500;
  src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "PoppinsBold";
  font-weight: 800;
  src: url("fonts/Raleway-Black.ttf");
}
