.TableCard {
  display: grid;
  grid-template-columns: 100px 1fr 150px 150px 150px;
  font-size: 13px;
  text-align: center;
  align-items: center;
  height: 75px;
  &__align-start {
    text-align: start;
  }
  &__image {
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }
}
