.TableCard {
  display: grid;
  grid-template-columns: 100px 1fr 150px 150px 150px;
  font-size: 13px;
  text-align: center;
  align-items: center;
  height: 75px;
  color: #4D5969;
  border-bottom: 1px solid #9da8ba9b;
  @media (max-width: 850px) {
    grid-template-columns: 100px 1fr 100px 100px 100px;
  }
  @media (max-width: 680px) {
    grid-template-columns: 100px 1fr;
  }
  &__align-start {
    text-align: start;
  }
  &__image {
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }
&__name{
    margin-bottom: 7px;
}
&__category{
   color: #9DA8BA;
}
&__begin,
&__finish,
&__watch{
  @media (max-width: 680px) {
    display: none;

  }
}
}