@import "../../vars.scss";
.information {
  background-color: #edf2f8;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: OpenSansBold;
  &__card {
    box-sizing: border-box;
    padding: 40px 80px;
    width: 80%;
    background-color: white;
  }
  &__footer {
    width: 80%;
    height: 100px;
    background-color: #d9d9d94f;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__discount{
width: 110px;
height: 55px;
position: relative;
font-family: OpenSansBold;
z-index: 2;
top: 8px;
left: 20px;
font-size: 22px;
color: white;
  }
  &__background{
    width: 100%;
    position: absolute;
    z-index: 1;
  }

  &__logo{
    height: 77px;
    width: auto;
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__image {
    width: auto;
    height: 415px;
    max-width: 415px;
  }
  &__main {
    margin-top: 25px;
    display: flex;
justify-content: center;
gap: 76px;
  }
  &__right {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  &__name {
    word-break:normal;
    font-size: 37px;
    margin-bottom: 40px;
 
  }
  &__rate {
    margin-bottom: 10px;
    align-self: flex-end;
  }
  &__prices {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
  }
  &__only-price{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__old-price {
    display: flex;
    flex-direction: column;
    color: #6F7885;
  }
  &__old-price__price,
  &__new-price__price{
    display: flex;

  }
  &__data__old-price{
    font-size: 32px;
    position: relative;
  }
  &__data__old-price::before {
    content: "";
    border-bottom: 3px solid #FF0000;
    position: absolute;
   top: 0px;
   left: -10%;
    width: 120%;
    height: 50%;
  }
  &__text__old-price{
    font-size: 18px;
    text-transform: uppercase;
  }
  &__data__new-price{
    font-size: 52px;
  }
  &__text__new-price{
    font-size: 18px;
    text-transform: uppercase;
  }
  &__new-price,
  &__old-price{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__span{
    align-self: flex-start;
  }
}
