.information{
    background-color: #EDF2F8;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__card{
        box-sizing: border-box;
        padding: 40px 80px;
        width: 80%;
        background-color: #F5F5F5;
    }
    &__footer{
        width: 80%;
        height: 100px;
        background-color: #d9d9d94f;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__header{
        display: flex;
        justify-content: space-between;

    }
    &__image{
        width: 40%;
        // height: 415px;
        height: auto;
    }
    &__main{
        margin-top: 25px;
        display: flex;
        gap: 76px;

    }
    &__right{
        display: flex;
        flex-direction: column;
    }
    &__name{
        word-break: break-all;
        font-size: 37px;
        margin-bottom: 40px;
    }
    &__rate{
        margin-bottom: 10px;
        align-self: flex-end;
    }
    &__prices{
        display: flex;
        justify-content: space-between;
    }
    &__old-price{
        display: flex;
        flex-direction: column;
    }

}
