@import "../../vars.scss";
.information {
  background-color: #edf2f8;
  padding: 145px 120px 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: OpenSansBold;
  @media (max-width: 1000px) {
    padding: 0px;
    padding-top: 80px;
  }
  &__back {
    cursor: pointer;
    align-self: flex-start;
    margin-left: 10%;
    margin-bottom: 30px;
  }
  &__card {
    box-sizing: border-box;
    padding: 40px 80px;
    max-width: 1200px;
    width: 100%;
    background-color: white;
    @media (max-width: 680px) {
      padding: 30px 20px;
    }
  }
  &__footer {
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
    height: 100px;
    background-color: #d9d9d94f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }
  &__discount {
    width: 110px;
    height: 55px;
    position: relative;
    font-family: OpenSansBold;
    z-index: 2;
    top: 8px;
    left: 20px;
    font-size: 22px;
    color: white;
  }
  &__background {
    width: 100%;
    position: absolute;
    z-index: 1;
  }

  &__logo {
    height: 77px;
    width: auto;
    @media (max-width: 680px) {
      height: 30px;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__image {
    width: auto;
    height: 415px;
    max-width: 415px;
    @media (max-width :1250px) {
      height: 300px;
align-self: center;
    }
  }
  &__main {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 76px;
    @media (max-width: 950px) {
      gap: 20px;
    }
    @media (max-width: 680px) {
      flex-direction: column;
    }

  }
  &__right {
    display: flex;
    flex-direction: column;
    width: 60%;
    @media (max-width: 680px) {
     width: 100%;
    }
  }
  &__name {
    word-break: normal;
    font-size: 37px;
    margin-bottom: 40px;
    @media (max-width: 500px) {
      font-size: 30px;
  }
}
  &__rate {
    margin-bottom: 10px;
    align-self: flex-end;
  }
  &__prices {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @media (max-width: 1250px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__only-price {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__old-price {
    display: flex;
    flex-direction: column;
    color: #6f7885;
  }
  &__old-price__price,
  &__new-price__price {
    display: flex;
  }
  &__data__old-price {
    font-size: 32px;
    position: relative;
  }
  &__data__old-price::before {
    content: "";
    border-bottom: 3px solid #ff0000;
    position: absolute;
    top: 0px;
    left: -10%;
    width: 120%;
    height: 50%;
  }
  &__text__old-price {
    font-size: 18px;
    text-transform: uppercase;
  }
  &__data__new-price {
    font-size: 52px;
  }
  &__text__new-price {
    font-size: 18px;
    text-transform: uppercase;
  }
  &__new-price,
  &__old-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1250px) {
      align-items: flex-start;
    }
  }
  &__span {
    align-self: flex-start;
  }
}
